[flake8]
ignore = F401, F403, C901
exclude = settings.py, .git, *migrations*, 0001_initial.py, *.js, reports/*.csv, venv_descarga
max-line-length = 99
count = True
statistics = True
max-complexity = 18
